/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7em;
}

a {
    color: #fff;
    text-decoration: none !important;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0px;
}

/* Utility classes */
.container {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    padding: 0px 20px;
}

.primary-text {
    color: #e4a300;
}

.btn {
    display: inline-block;
    background: #333;
    font-size: 18px;
    color: #fff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #fcb166;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #fcb166;
    color: #333;
}

.clr {
    clear: both;
}

/* Navbar */
#navbar {
    background-color: #333;
    overflow: auto;
}

#navbar h2 {
    float: left;
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

#navbar h2 #logo {
    font-size: 40px;
    color: #e4a300;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    color: #e4a300;
    background-color: #444;
}

/* Showcase */
#showcase {
    background: url(images/landing.jpeg) no-repeat center center/cover;
    opacity: 0.9;
    height: 1000px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 10em;
}

#showcase h1 {
    font-size: 100px;
    margin-bottom: 50px;
    line-height: 1.2em;
}

#showcase p {
    font-size: 30px;
    padding-bottom: 30px;
    line-height: 1.5em;
}

/* Features */
.box {
    float: left;
    height: 250px;
    width: 33.333%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

/* Goals */
#about {
    overflow: hidden;
    padding : 20px 0;
}

#about #about-text {
    float: left;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

#about #about-text h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

#about #about-img {
    float: left;
    width: 50%;
    min-height: 100%;
}

#about #about-img img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

/* Happy Learners */
#learners {
    background: url(images/happy.jpeg) no-repeat center center/cover;
    text-align: center;
    height: 500px;
}

#learners #learners-text {
    padding: 20px 0;
}

#learners #learners-text h2 {
    font-size: 100px;
    line-height: 1.5em;
    color: #fff;
}

#learners #learners-text #learner-count {
    color: #333;
}

/* Contact form */
#form {
    padding-top: 40px;
    font-size: 18px;
}

#form h1 {
    font-size: 50px;
    line-height: 1.4em;
}

#form label {
    display: block;
    margin-top: 40px;
}

#form input, #form textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#form textarea {
    height: 200px;
}

#form button {
    margin: 20px 0;

}

#form input:focus, #form textarea:focus {
    outline: none;
    border-color: #fcb166;
}

/* Footer */
#main-footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
    line-height: 1.6em;
}

#main-footer p {
    font-size: 20px;
}

